.inputBlock {
	display: flex;
	flex: content;
	position: relative;
	height: auto;
	margin: 0.5rem;
}

.inputBlock > label {
	margin-right: 0.4rem;
}

.inputBlock > input {
	width: 100%;
}

.inputBlock > label|input {
	flex-direction: row;
}
